.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #65171e;
    color: white;
    padding: 0.5rem 1.2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background-color: #3e0f13;
  }
  
  .icon {
    width: 1.7rem;
    height: 1.7rem;
    margin-right: 0.1rem;
  }
  
  .badge {
    background-color: #E33745;
    padding: 0.1rem 1rem;
    border-radius: 20px;
    margin-left: 0.3rem;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #92320c;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }